table{
    border: 1px solid green;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
td{
    border: 1px solid green;
    text-align: center;
    background-color:aqua;
}
.btn{
    border-bottom-right-radius: 20px;
}
#btn{
    border-top-left-radius: 20px;
}
td:hover{
    color: red;
    background-color: white;
}
tbody{
    margin: 15px;
    padding: 20px;
}